@tailwind base;
@tailwind components;
@tailwind utilities;


.header-navbar {
    border: 2px solid rgba(255, 255, 255, 0.46);
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(4.900000095367432px);
}

.appointmentBtn {
    border-radius: 10px;
    background: linear-gradient(141deg, #E7658B 0%, #EE9AB1 100%);
    box-shadow: 0px 8px 10px 0px rgba(231, 101, 139, 0.39);
}

.logoStyle {
    background: linear-gradient(141deg, #E7658B 0%, #EE9AB1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 32px;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
}


.commonBg {
    background: url(../public/assets/Rectangle.png), rgb(255, 255, 255) 0% 0% / 100px 100px repeat;
    background-blend-mode: multiply;
}


.hello-there {
    background: linear-gradient(149deg, #E7658B 0%, #EE9AB1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: PT Serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.name {
    color: #1E1E1E;
    font-family: PT Serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.intro {
    color: var(--second, #6C87AE);
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.getAppointment {
    color: var(--second, #6C87AE);
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.book {
    height: 54px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(141deg, #E7658B 0%, #EE9AB1 100%);
    box-shadow: 0px 8px 10px 0px rgba(231, 101, 139, 0.39);
}

.disease-fonts {
    font-family: PT Serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.patient-review-text {
    color: var(--dark, #031432);
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}